/* #PieChart { */
    /* position: relative;
    margin: auto; */
    /* height: 80vh;
    width: 30vw;
    }
     */

#PieChart {
height:45%;
width:45%;

/* float: right; */
/* background-color: red; */
}